.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.Links {
  font-family: monospace;
  position: absolute;
  right: 0;
  padding: 8px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

canvas {
  margin: 40px 40px 0 40px;

  max-height: 500px;
  max-width: 500px;
  object-fit: contain;
}

.App-header {
  flex: 1;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header p {
  font-family: monospace;
  color: #888;
  font-size: 12px;
  margin-bottom: 20px;
}

.App-header p.errorMessage {
  color: red;
}

.Entry {
  background-color: #f0f0f0;
}

.Entry textarea {
  min-height: 6vh;
  margin-bottom: 40px;
  min-width: 80vw;
}
